body {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background-color: #ebeeef;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-weight: 200;
    color: #222222;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 1.6em;
}

p,
ul,
ol {
    margin-top: 0;
    line-height: 180%;
}

a {
    color: #B50D0D;
}

a:hover {
    text-decoration: none;
}

#wrapper {
    padding-bottom: 50px;
}

.container {
    width: 1000px;
    margin: 0px auto;
}

/* Header */

#header-wrapper {
    overflow: hidden;
    height: 120px;
    background: #ffff;
}

#header {
    overflow: hidden;
    width: 1000px;
    height: 120px;
    margin: 0 auto;
    padding: 0px 0px;
}

/* Logo */

#logo {
    float: left;
    margin: 0;
    padding: 10px;
}

#logo2 {
    float: left;
    margin: 0;
    padding: 10px;
}


/* Menu */

#menu {
    float: right;
    width: 500px;
    height: 90px;
    margin: 0 auto;
    padding: 0;
}

#menu ul {
    float: right;
    margin: 0;
    padding: 35px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
    padding: 10px 0px 0px 0px;
}

#menu a {
    display: block;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    color: black;
    border: none;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;

}



#menu a:hover {
    color: tomato;
}


#menu a:hover:after {
    width: 100%;
}


#menu .current_page_item a {
    text-decoration: none;
    color: #FFFFFF;
}

#menu .current_page_item a {
    background: #00b0f0;
    border-radius: 5px;
}

#menu .signOutBut a {
    color: red;
    border-radius: 5px;
}

/* Page */

/*login*/

*:focus {
    outline: none;
}

.passLost {
    margin: 20px auto;
    width: 700px;
    padding-top: 90px;
    padding-bottom: 100px;
    position: relative;
    bottom: 30px;
    
}



.CoursesAndSection {
    text-align: center;
}


.passLost-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 50px;
    margin: auto;
}

.app-title {
    text-align: center;
    color: #777;
    padding-bottom: 0px;
    font-size: 20px;
}


.passLost-form select{
    margin: auto;   
}

.control-group {
    margin-bottom: 10px;
}

.inputTag {
    text-align: center;
    background-color: #fbfcfc;
    border: 2px solid #ECF0F1;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    margin-bottom: 20px;
    width: 250px;
    transition: border .5s;
}

.inputTag:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000;
}

.submitBut {
        text-align:center;
}

.btn {
    border: 2px solid transparent;
    background: #00b0f0;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    width: 250px;
    margin: 20px auto;
    
}

.btn:hover {
    background-color: #2980B9;
}





#courses {
    text-align-last: center;
    text-align: center;

    color: #000;
    margin-bottom: 20px;
    text-align: center;
    background-color: #fbfcfc;
    border: 2px solid #ECF0F1;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}



#sectionSelect {
    text-align-last: center;
    text-align: center;

    color: #000;
    margin-bottom: 20px;
    text-align: center;
    background-color: #fbfcfc;
    border: 2px solid #ECF0F1;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

.multipleSelection {
 
    margin: auto;
    width: 250px;
}

.selectBox {
        margin: auto;

    position: relative;
}

.selectBox select {
    text-align-last: center;
    text-align: center;

    color: #000;

    margin: auto;
    background-color: #fbfcfc;
    border: 2px solid #ECF0F1;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

.overSelect {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxesStudentNames {
    margin: auto;
    display: none;
    border: 1px #ECF0F1 solid;
}

#checkboxesStudentNames label {
    margin: auto;
    display: block;
}

#checkboxesStudentNames label:hover {
    background-color: #00b0f0;
}

#multipleSelection #checkboxesStudentNames label input {
    margin: auto;
    text-align: left;
}
